<% provide(:title, "work schedule") %>

<div class="row">
  <table class="table table-bordered table-condensed user-table">
    <tr>
      <td>【<%= l(@first_day, format: :middle) %>】勤怠管理表</td>
      <td>名前：<%= current_user.name %></td>
      <td>基本時間：<%= format_basic_info(current_user.basic_time) %></td>
      <td>出勤日数：<%= @worked_sum %>日</td>
      <td>月初日：<%= l(@first_day, format: :short) %></td>
      <td>月末日：<%= l(@last_day, format: :short) %></td>
    </tr>
  </table>

  <table class="table table-striped table-condensed table-attendances">
    <thead>
      <tr>
        <th>日付</th>
        <th>曜日</th>
        <th>出勤時間</th>
        <th>退勤時間</th>
      </tr>
    </thead>

    <tbody class = day_of_week>
      <% (@first_day..@last_day).each do |day| %>
        <% css_class = case %w{日 月 火 水 木 金 土}[day.wday] # 土日の曜日に色付け
            when '土' 
              'text-primary'
            when '日' 
              'text-danger'
            end
        %>
        <tr>
          <td><%= l(day, format: :short) %></td>
          <td class="<%= css_class %>"><%= %w{日 月 火 水 木 金 土}[day.wday] %></td>
            </td>
          <td><%= time_str(@attends.find_by(worked_day: day).in) %></td> <!-- 出勤時間を表示 -->
          <td><%= time_str(@attends.find_by(worked_day: day).out) %></td> <!-- 退勤時間を表示 -->
        </tr>
      <% end %>
    </tbody>
  </table>
</div>